* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-family: 'Inter', sans-serif;
    color: #3c3838;

}

.container {

    width: 90%;
    max-width: 1200px;
    margin: 18px auto;

}

.section-title{
    text-align:center;
    margin-bottom:50px;

}

.section-title h2{
    font-size:54px;
    font-weight:800;
    color:#101828;
    margin-bottom:15px;

}

/*Navbar*/

header {

    background: #fff;
    padding: 10px 0;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 170px;
    height: auto;
    display: block;
}

.menu {
    display: flex;
    gap: 38px;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #444;
    font-size: 15px;
    font-weight: 500;
}



.btn-primary {
    background: #0e3fee;
    color: #fff;
    text-decoration: none;
    padding: 15px 28px;
    border-radius: 8px;
    font-weight: 600;

}



/*Hero*/

.hero {
    position: relative;
    height: 690px;
    background: url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.56);

}

.hero-content {
    position: relative;
    color: #fff;
    text-align: center;
    max-width: 850px;
    padding: 15px;

}

.hero h1 {
    font-size: 65px;
    font-weight: 800;
    padding:15px;


}

.hero h1 em {
    font-style: italic;

}

.hero p {
    font-size: 18px;
    color: #f1f1f1;
    padding: 0 80px ;
    margin-bottom: 310px;
    text-decoration: none;

}

.hero-btn {
    display: inline-block;
    background: #0e3fee;
    color: #fff;
    text-decoration: none;
    padding: 20px 55px;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 700;

}

/*Meet the Speakers*/

.speakers{
    padding:24px 0;
    background:#fff;

}



/* Grid */

.speaker-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;

}

/* Card */

.speaker-card{
    background:#fff;
    border:1px solid #e9e9e9;
    border-radius:8px;
    overflow:hidden;

}

/* Image */

.speaker-card img{
    width:100%;
    height:310px;
    object-fit:cover;
    display:block;

}

/* Info */

.speaker-info{
    padding:28px;
}

.category{
    display:inline-block;
    color:#0e3fee;
    font-size:12px;
    font-weight:700;
    text-transform:uppercase;
    margin-bottom:12px;

}

.speaker-info h3{
    font-size:18px;
    color:#101828;
    margin-bottom:10px;

}

.speaker-info p{
    color:#667085;
    font-size:12px;

}


/*Pricing Section*/

.pricing{
    padding:24px 0;
    background:#fff;

}

.pricing p{
    font-size:14px;
    color:#484e5a;
    margin-bottom:15px;

}
.pricing-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
    margin-top:60px;

}

.price-card{
    background:#fefefe;
    padding:30px 35px;
    border-radius:10px;
    text-align:left;
    box-shadow:0 15px 35px rgba(0,0,0,.08);


}

.price-card h3{
    font-size:14px;
    color:#484e5a;
    margin-bottom:15px;

}


.price-card h1{
    font-size:50px;
    color:#101828;
    margin-bottom:15px;

}

.plan-text{
    color:#667085;
    margin-bottom:30px;

}


 .price-card ul {
   border-top: 1px solid #c4cad3;
   margin-top: 20px;
   padding: 20px;

}
.price-card ul li{
    font-size:14px;
    padding:5px 0;
    color:#667085;

}
.price-card li::marker {
    color: #0e3fee;
}

 .price-btn{
    display:inline-block;
    background:#fff;
    width: 100%;
    text-align: center;
    text-decoration:none;
    padding:16px 35px;
    border-radius:8px;
    font-weight:600;

    

}

.price-btn-Standard{
    border:1px solid #0e3fee;
    color:#0e3fee;
}

.price-btn-Pro{
    background:#0e3fee;
    color:#fff;


}
.price-btn-team{
    border:1px solid #101828;
    color:#101828;
    
}


.active{
    background:#101828;
    color:#667085;
}

.active h1{
    color:#fff;

}

.active .plan-text{
    color:#667085;

}
h3.price-card-pro{
   color:#0e3fee;
    

}

.active ul li{
    color:#667085;
    border-color:r#667085;

}

/*Footer Section*/
.footer{
    background: #101828;
    padding: 30px 0 20px;
}

.footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo img{
    width: 150px;
}

.footer-social{
    display: flex;
    gap: 15px;
}

.footer-social a{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #1E293B;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
   
}


.footer hr{
    border: none;
    border-top: 1px solid rgba(255,255,255,.15);
    margin: 30px auto;
    width: 90%;
}

.copyright{
    text-align: center;
}

.copyright p{
    color: #94A3B8;
    font-size: 15px;
}

